ul
{
list-style-image:url('/home/divya/Desktop/1/image2');
width:20%;
height:10%;
}
footer
{
background:powderblue;
font-size:30px;
color:blue;
float:center;
text-align:center;
}
div
{
overflow:auto;
}
